@import "./src/styles/theme.module.scss";


.form {
  padding: 32px;
  width: 408px;
  background-color:$color-primary-white;

  .container {
    margin: auto;
    padding: 0;
  }

  .title {
    font-size: $typography-h1;
    text-transform: capitalize;
    font-weight: 900;
    color: $color-primary-gray;
  }
}

