@import "./src/styles/theme.module.scss";

.form-phone {
  .form-phone-input-group {
    text-align: start;
    margin-bottom: 0 !important;
  }

  .form-control:focus {
    box-shadow: none !important;
    border: 3px solid $color-gray-400 !important;
  }

  .label {
    color: $color-primary-gray;
    font-size: $typography-small;
  }

  .off-focus {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .on-focus {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .form-label {
    margin-bottom: 0 !important;
  }

  .text-muted {
    color: $color-system-error !important;
  }
}

.color-primary {
  background-color: $color-main;
}

.input-height {
  height:45px;
}