$color-main: #FFD600;
$color-main-hover-active:#EDC700;
$color-main-disabled: #FFF176;

$color-system-success: #4CAF50;
$color-system-notification: #4054B2;
$color-system-error: #F44336;
$color-system-warning: #FFBB33;

$color-primary-yellow: #FFD600;
$color-primary-white: #ffffff;
$color-primary-gray: #212529;

$color-secondary-yellow50: #FFFDE7;
$color-secondary-yellow100: #FFF59D; 
$color-secondary-yellow300: #FFF176;

$typography-h1: 40px;
$typography-h2: 36px;
$typography-h3: 32px;
$typography-h4: 28px;
$typography-h5: 24px;
$typography-h6: 20px;
$typography-subtitle: 18px;
$typography-caption: 16px;


$size-width: 620px;
$size-height:900px;