@use "sass:meta";
@import "./../../../styles/theme.module.scss";

@mixin button-size($width, $height, $font-size) {
  width: $width;
  height: $height;
  > .button-title {
    font-size: $font-size;
  }
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 0;
  color: $color-primary-gray;

  .button-title {
    font-weight: 700;
    line-height: 16px;
  }

  &:disabled {
    background-color: $color-main-disabled;
    color: $color-gray-300;
  }
}

.button-size-sm {
  @include button-size(143px, 48px, $typography-small);
}

.button-size-md {
  @include button-size(171px, 56px, $typography-caption);
}

.button-size-lg {
  @include button-size(343px, 56px, $typography-caption);
}

@mixin button-type($args...) {
  @each $name, $color in meta.keywords($args) {
    .button-type-#{$name} {
      background-color: $color;
    }
  }
}

@include button-type(
  $primary: $color-main,
  $secondary: $color-gray-400,
  $success: $color-system-success,
  $error: $color-system-error,
  $info: $color-system-notification,
  $danger: $color-system-warning
);
