@import "./../../../styles/theme.module.scss";

.button-as-link {
  padding-bottom: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: $color-primary-gray;
  cursor: pointer;

  .button-as-link-title {
    font-size: $typography-small;
    text-decoration: underline $color-primary-gray;
  }
}
